body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: aquamarine;
  margin: 0 auto;
  width: 450px;
  border: 3px blueviolet
  padding: 0 2em 1em;
}

h1 {
  color: rgb(74, 74, 133);
  margin-bottom: .25em;
}

label {
  width: 4em;
  text-align: right;
  padding-bottom: .5em;
}

input {
  width: 4em;
  margin-left: .5em;
  margin-bottom: .5em;
}

#player1, #player2 {
  width: 10em;
}

#hold {
  margin-right: 2em;
}